.login-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 100px;
    margin-bottom: 100px;
  }
  
  .login-image {
    width: 50%;
  }
  
  .login-image img {
    width: 100%;
    height: auto;
  }
  
  .login-form {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .login-form h2 {
    margin-bottom: 10px;
  }
  
  .login-form p {
    margin-bottom: 20px;
  }
  
  .login-form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .remember-me input {
    margin-right: 10px;
  }
  
  .forgot-password {
    color: #00f;
    text-decoration: none;
    align-self: flex-end;
    margin-bottom: 10px;
  }
  
  .login-form button {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .social-login {
    text-align: center;
    margin: 20px 0;
  }
  
  .social-login button {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
  }
  
  .signup-link {
    text-align: center;
  }
  
  .signup-link a {
    color: #00f;
    text-decoration: none;
  }
  